*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
}

/* -------------- LOGIN --------------- */
#login-content {
	background-color: #002230;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.login-box {
	background-color: white;
	text-align: center;
	width: 400px;
	height: auto;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.05s ease-in-out;
	margin: 10px;
	color: black;
}

.input-container h3 {
	margin: 0;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}

.input-container input, .input-container select {
	margin: 10px 0;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
    color: black;
    font-size: 18px;
    box-sizing: border-box;
}


.login-box .btn {
	width: 100%;
	margin: 10px 0;
	box-sizing: border-box;
}

/* Error Message */
.error-message-container {
	background-color: white;
	padding: 15px;
	border-radius: 10px;
}

.error-message-container .error-message {
	color: red;
	margin: 0;
}


/* -------------- NAVBAR --------------- */
#navbar-content {
	background-color: #002230;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

/* Navbar left */
.navbar-left .company-name {
	color: white;
}

#brand-name:hover {
	cursor: pointer;
}

.company-name, #search-bar {
    display: inline-block;
    vertical-align: middle;
}

#search-bar {
	height: 40px;
	width: 300px;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
}

/* Navbar right */
.navbar-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

#user-name {
	color: white;
	padding: 0 10px;
}

#user-icon {
    color: white;
}

.navbar-right .btn {
	margin: 0px 10px;
	width: 100px;
	border-radius: 30px;
}




/* ------------- DASHBOARD -------------- */
#your-quizzes-header {
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
}

.category-slider {
	margin: 20px;
}

.category-title {
	margin-left: 20px;
}

/* Card container */
.card-container {
	overflow: auto;
	white-space:nowrap;
}

/* Cards */
.card {
	padding: 10px;
	border: 1px solid red;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	border-radius: 30px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.05s ease-in-out;
	margin: 10px;
	width: 18rem;
	height: auto;
	text-align: center;
}

.card:hover {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
	transform: scale(1.01);
	cursor: pointer;
}

.card img {
	height: 200px;
	border-radius: 30px 30px 0px 0px;
}

.card-title {
	color: #002230;	
}





/* ------------ QUIZ GAMEPLAY ------------ */
#question-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: grey;
}

.question-card {
	height: 800px;
	margin: 20px;
	width: 650px;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	border: 1px solid pink;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* question CARD UPPER */
.question-card-upper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40%;
	border-radius: 20px 20px 0 0;
	background-color: #dcdcdc;
}

#quiz-image {
	width: 50%;
	height: 60%;
	border-radius: 20px 20px 0 0;
}

#question-text, #quiz-title, #final-text-title {
	color: #002230;
	text-align: center;
}

/* QUESTION CARD LOWER */
.question-card-lower {
	height: 60%;
	border-radius: 0 0 20px 20px;
	background-color: purple;
	padding: 40px;
}

.btn-group {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-btn {
    margin: 15px;
    padding: 15px;
    border-radius: 20px !important;
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 0px;
}

.question-btn:disabled {
	pointer-events: none;
}

.question-answer-btn, .correct-answer, .wrong-answer {
	width: 80%;
}

.question-answer-btn:hover {
	background-color: #d5d5d5 !important;
}

.correct-answer {
	background-color: #32cd32 !important;
}

.wrong-answer {
	background-color: #DC143C !important;
}

/* question nav buttons */ 
#nav-btns-container {
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

#next-btn, #finish-btn, .question-btn {
	width: 150px;
	margin-left: auto;
	background-color: #002230;
	color: white;
}

#FinalResult {
	color: #d5d5d5;
	font-size: 200px;
}


/* -------------------- QUIZ CREATION -----------------------*/
.image-slide {
	display: flex;
	justify-content: center;
}
