
/* ------------ question DEVELOPMENT ------------ */
#question-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: grey;
}

.question-card {
	height: 800px;
	margin: 20px;
	width: 650px;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	border: 1px solid pink;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* question CARD UPPER */
.question-card-upper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40%;
	border-radius: 20px 20px 0 0;
	background-color: #dcdcdc;
}

#quiz-image {
	width: 50%;
	height: 60%;
	border-radius: 20px 20px 0 0;
}

#question-text, #quiz-title, #final-text-title {
	color: #002230;
	text-align: center;
}

/* question CARD LOWER */
.question-card-lower {
	height: 60%;
	border-radius: 0 0 20px 20px;
	background-color: purple;
	padding: 40px;
}

.btn-group {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-btn {
    margin: 15px;
    padding: 15px;
    border-radius: 20px !important;
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 0px;
}

.question-btn:disabled {
	pointer-events: none;
}

.question-answer-btn, .correct-answer, .wrong-answer {
	width: 80%;
}

.question-answer-btn:hover {
	background-color: #d5d5d5 !important;
}

.correct-answer {
	background-color: #32cd32 !important;
}

.wrong-answer {
	background-color: #DC143C !important;
}

/* question nav buttons */ 
#nav-btns-container {
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

#next-btn, #finish-btn {
	width: 150px;
	margin-left: auto;
	background-color: #002230;
	color: white;
}

#FinalResult {
	color: #d5d5d5;
	font-size: 200px;
}
